/* This CSS is used both on the frontend and in the editor. */

.gutenberg-bento-carousel-wrapper,
.gutenberg-bento-carousel-wrapper > div {
	aspect-ratio: 2/1;
}

.gutenberg-bento-carousel-buttons {
	margin-top: 20px;
}

[class*="scroll-container"][class*="horizontal-scroll"] {
	align-items: flex-start;
}
